
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cart</title>
    <style>
        body{
            background-color:burlywood;
        }
    </style>
</head>
<body>
    <h1 style="margin-left:0.5cm;">My Cart</h1>
    <br />
    <ul>
        <li>
            <h3>Laptop x 1</h3>
        </li>
        <li>
            <h3>Calculator x 2</h3>
        </li>
        <li>
            <h3>Drone x 1</h3>
        </li>
    </ul>
    <a href="@Url.Action("Index","Lin")" style=" margin-left:1cm">Back</a>

</body>
</html>
